* {box-sizing: border-box;
    text-decoration: none;
    outline: none;}

header {
    background-color: rgb(225, 241, 255); 
    width: 100%;
    display: flex;
    flex-direction: row;
}

.scores {
    flex: 0 0 50%;
    text-align: left;
    padding-left: 2%;
    text-decoration: underline;
    color: blue;
}

.scores span:hover{
    background-color: bisque;
    border-radius: 25px;
    
}

.scores span:active{
    text-decoration: underline;
    color: rgb(173, 77, 21);
}


.time {
    flex: 0 0 50%;
    text-align: right;
    padding-right: 2%;
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
    border-style: double;
    border-width: 3px;
    margin: auto;
    width: 75%;
    padding: 3%;
}
.starter{
    text-align: center;
    min-height: 1000px;
    padding-top: 200px;
   
}

.starter h1{
    border-style: dashed;
    border-width: 3px;
    width: 50%;
    margin: auto;
}

.finalscores1{
    display: flex;
    flex: 0 0 50%;
    border-style: dashed;
    border-width: 3px;
    width: 50%;
    margin: auto;
}

.starter p {
    padding: 150px 0 ;
}
#startbutton1 { 
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 15%;
}

#startbutton1:hover{
    background-color: #376438;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 15%;
}

.startbutton2 { 
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 15%;
}

.startbutton2:hover{
    background-color: #376438;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 15%;
}

.hidden {
    display: none;
}

.listQuestions{
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    padding: 3%;
    
}

.listQuestions1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    width: 35%;
    color: cornsilk;
    background-color: darkmagenta;
    font-size: 15px;
}

input{
    display: block;
    width: 30%;
    border: black 2px;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 24px;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    padding-top: 30px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    background: 0 0;
    margin: 10px auto;
    
}

.starter h1{
    border-style: dashed;
    border-width: 3px;
    width: 50%;
    margin: auto;
}